
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace 400 with your desired weight (e.g., 300, 500, 700) */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main{
    max-width: 140px;
    margin: 0 auto;

}

/* header */
.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 130px;

}





/* nav styles */

/* header{
    background-color: #FFF8F3;
} */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;

}
nav h3{
    font: open sans, sans-serif;
    font-size: 45px;
    padding-left: 50px;
    font-weight: 800;

}
nav span{
    color: #FD6E0A;
}
nav ul{

    display: flex;
    align-items: center;
    /* list-style: none;
    margin: 0;
    padding-left: 60%;
    display: flex;
    justify-content: space-between;
    gap: 60px; */
    


}

.dark-1{
    color: #474747;
}

nav ul li{
    margin-right: 51px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav li a:hover{
    color: #FD6E0A;
}

.btn{
    height: 50px;
    width: 110px;
    background-color: #FD6E0A;
    font: open sans, sans-serif;
    border-radius: 5px;
    padding: 11px 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    border: none;
}




/* Banner styles */
.banner{
    display: flex;
    /* padding-left: 130px; */
    justify-content: space-between;
    margin: 0 0 0 130px;



}
.banner-content{
    max-width: 580px;

}
.greeting{
    height: 80px;
    width: 170px;
    font: 500;
    font-size: 20px;
    margin-top: 180px;
    margin-bottom: 0px;
}
.title{
    height: 110px;
    weight: 800;
    font-size: 80px;
    color: #474747;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img{
    height: 675px;
    width: 970 px;
    margin-right: 40px;

}

.btn-2{
    height: 50px;
    width: 130px;
    background-color: #FD6E0A;
    font: open sans, sans-serif;
    border-radius: 5px;
    padding: 11px 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    border: none;
    margin-top: 30px;
    margin-right: 20px;

}

/* about */
    .section-title{
        font-size: 45px;
        font-weight: bold;
        color: #181818;

    }

.secondary-background{
    background-color: #FFF8F3;
}

.about{
    border-radius: 10px;
    max-width: 950px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 120px 100px;
    text-align: center;
    


}
.id{
    font-weight: bold;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* what i do */
.skills{
    text-align: center;
    justify-content: center;
    max-width: 950px;
    margin-bottom: 120px;
    margin: 0 auto;
    padding: 120px 100px;

}

.sc{
    display: flex;
    justify-content: space-around;
    
}
.skill{
    text-align: left;
    width: 160px;
    height: 280px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    padding: 30px 30px;
    justify-content: space-between;
    box-shadow: #474747;
    margin-bottom: 50px;
}
.description{
    margin-bottom: 50px;

}

/* summary */
.section-title-1{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
.ed{
    font-weight: 600;
    font-size: 30px;
    color: #757575;
}

.ed-date{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}
.sd{
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}

/* summary */

/* .resume{
    text-align: center;
    max-width: 1140px;
    margin-bottom: 120px;
    margin: 0 auto;
    padding: 120px 100px;


} */
.rc{
    display: flex;
    max-width: 950px;
    text-align: left;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 100px;

}
.section-title-2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 60px;
}
hr{
    margin: 40px 0;
}


.btn1{
    height: 30px;
    width: 120px;
    background-color: #FD6E0A;
    font: open sans, sans-serif;
    border-radius: 5px;
    padding: 11px 11px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    border: none;
    margin: 0 auto;
}


/* footer */

footer{
    padding: 100px 230px;
    display: flex;
    
    justify-content: space-between;
    margin: 0 auto;
    gap: 100px;
    margin-top: 80px;
    margin-bottom: 5px;
    max-height: 450px;
}
 .fc{
    width: 50%;
 }
 footer p{
    margin-top: 50px;
    margin-bottom: 50px;
 }
.img{
    gap: 30px;
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 50px; */
}



 footer input[type="text"], footer input[type="email"], footer textarea {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 24px;
    border: none;
 }

 form{
    margin-top: 50px;
 }